---
layout: default
title: Mensualisation sur une année complète — Pajomatic
controller: annee-complete
---

<h1>Salaire d'une assistante maternelle - Mensualisation sur une année complète</h1>
<h2>Données</h2>
<form class="hidden-print" action="" name="complete_year_input" id="complete_year_input">
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend>Contrat</legend>

        {% include content/base-contrat.html %}

      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset>
        <legend>Mois en cours</legend>

        {% include content/base-mois-en-cours.html %}

      </fieldset>
    </div>
  </div>
  <div class="center hidden-print">
    <button type="submit" class="btn btn-primary btn-lg" id="submit">Calculer</button>
  </div>
</form>

{% include content/input-reminder.html %}

<h2>Résultats des calculs</h2>
<div class="row" id="complete_year_output">
  <div class="col-md-6">
    <h3>À déclarer sur Pajemploi</h3>
    {% include content/output-table.html %}
  </div>
  <div class="col-md-6">
    <h3>Somme totale à payer</h3>
    <div class="panel panel-default">
      <div class="panel-body euros" id="out_total_a_payer">
      </div>
    </div>
    <!--<h3>Pour information</h3>
    <div class="panel panel-danger">
      <div class="panel-heading">Attention</div>
      <div class="panel-body">Vous dépassez le plafond de 5 SMIC. La CAF ne va pas vous verser l'aide si vous déclarez cela.</div>
    </div>-->
    {% include actions.html %}
  </div>
</div>
