---
layout: default
title: Blog
permalink: /blog/
---
<main>
{% for post in site.posts %}
    <article class="panel panel-default">
        <header class="panel-heading">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <time>{{ post.date | date: "%d/%m/%Y" }}</time>
        </header>
    <ul>
        {% for cat in post.categories %}
            <li class="label label-default">{{ cat }}</li>
        {% endfor %}
    </ul>
    </article>
    
{% endfor %}
</main>
