---
layout: default
title: Mensualisation sur une année incomplète — Pajomatic
controller: annee-incomplete
---

<h1>Salaire d'une assistante maternelle - Mensualisation sur une année incomplète</h1>
<h2>Données</h2>
<form class="hidden-print" action="" name="incomplete_year_input" id="incomplete_year_input">
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend>Contrat</legend>

        <div class="form-group">
          <label for="nb_semaines">
            Nombre de semaines d'accueil par an
            {% include form/help.html content="Entrez ici le nombre de semaines pendant lesquelles votre enfant est accueilli par l’assistante maternelle." %}
          </label>
          {% include form/input-group.html id="nb_semaines" addon="semaines" required=true %}
        </div>

        {% include content/base-contrat.html %}

      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset>
        <legend>Mois en cours</legend>

        {% include content/base-mois-en-cours.html %}

        <div class="form-group">
          <label>Congés payés {% include form/help.html content="Le montant payé ce mois-ci au titre des congés payés et le nombre de jours <strong>correspondant à ce montant.</strong>" %}</label>
          <div class="row">
            <div class="col-md-6">
              {% include form/input-group.html id="nb_jours_conges_payes" addon="jours" %}
            </div>
            <div class="col-md-6">
              {% include form/input-group.html id="montant_conges_payes" addon="€" %}
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="center hidden-print">
    <button type="submit" class="btn btn-primary btn-lg" id="submit">Calculer</button>
  </div>
</form>

{% include content/input-reminder.html %}

<h2>Résultats des calculs</h2>
<div class="row" id="incomplete_year_output">
  <div class="col-md-6">
    <h3>À déclarer sur Pajemploi</h3>
    {% include content/output-table.html %}
  </div>
  <div class="col-md-6">
    <h3>Somme totale à payer</h3>
    <div class="panel panel-default">
      <div class="panel-body euros" id="out_total_a_payer">
      </div>
    </div>
    <!--<h3>Pour information</h3>
    <div class="panel panel-danger">
      <div class="panel-heading">Attention</div>
      <div class="panel-body">Vous dépassez le plafond de 5 SMIC. La CAF ne va pas vous verser l'aide si vous déclarez cela.</div>
    </div>-->
    {% include actions.html %}
  </div>
</div>
