---
layout: default
title: Mensualisation sur une année incomplète — Pajomatic
---

<h1>Mensualisation sur une année incomplète</h1>
<h2>Données</h2>
<form action="" name="incomplete_year_input" id="incomplete_year_input">
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend>Contrat</legend>

        <div class="form-group">
          <label for="nb_semaines">
            Nombre de semaines d'accueil par an
            {% include form/help.html content="Entrez ici le nombre de semaines pendant lesquelles votre enfant est accueilli par l’assistante maternelle." %}
          </label>
          {% include form/input-group.html id="nb_semaines" addon="semaines" %}
        </div>

        <div class="form-group">
          <label for="nb_jours_par_semaine">Nombre de jours d'accueil par semaine</label>
          {% include form/input-group.html id="nb_jours_par_semaine" addon="jours" %}
        </div>

        <div class="form-group">
          <label>
            Nombre d'heures par semaine
            {% include form/help.html content="L'assistante maternelle peut travailler au maximum 45 heures « normales » par semaine. Au-delà, les heures sont majorées (à un taux qu'il faut négocier avec l'assistante maternelle). Par exemple, si elle travaille 48 heures par semaine, il y a 45 heures normales et 3 heures majorées." %}
          </label>
          <div class="row">
            <div class="col-md-6">
              {% include form/input-group.html id="nb_heures_normales" addon="heures normales" %}
            </div>
            <div class="col-md-6">
              {% include form/input-group.html id="nb_heures_majorees" addon="heures majorées" %}
            </div>
        </div>

        </div>
          <div class="form-group">
          <label for="salaire_net_normal">
            Salaire horaire net d'une heure normale
          </label>
          {% include form/input-group.html id="salaire_net_normal" addon="€" %}
        </div>

        <div class="form-group">
        <label for="majoration_heures_majorees">
          Majoration des heures majorées
        </label>
          {% include form/input-group.html id="majoration_heures_majorees" addon="%" %}
      </div>

        <div class="form-group">
        <label for="indemnite_entretien">Indemnité d'entretien</label>
          {% include form/input-group.html id="indemnite_entretien" addon="€ par jour" %}
        </div>

        <div class="form-group">
          <label>Indemnités de repas {% include form/help.html content="Si l'assistante maternelle facture un montant journalier, sans distinguer repas et goûter, remplissez simplement la case « repas »." %}</label>
          <div class="row">
            <div class="col-md-6">
              {% include form/input-group.html id="indemnite_repas" addon="€ par repas" %}
            </div>
            <div class="col-md-6">
              {% include form/input-group.html id="indemnite_gouter" addon="€ par goûter" %}
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset>
        <legend>Mois en cours</legend>

        <div class="form-group">
          <label for="nb_jours_accueil_reel">Nombre de jours d'accueil réels dans le mois {% include form/help.html content="Le nombre de jours où votre enfant a été gardé par l'assistante maternelle pour ce mois-ci. Il sert à calculer le montant des indemnités, ces dernières n'étant pas mensualisables." %}</label>
          {% include form/input-group.html id="nb_jours_accueil_reel" addon="jours" %}
        </div>

        <div class="form-group">
          <label>Congés payés {% include form/help.html content="Le montant payé ce mois-ci au titre des congés payés et le nombre de jours <strong>correspondant à ce montant.</strong>" %}</label>
          <div class="row">
            <div class="col-md-6">
              {% include form/input-group.html id="nb_jours_conges_payes" addon="jours" %}
            </div>
            <div class="col-md-6">
              {% include form/input-group.html id="montant_conges_payes" addon="€" %}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Heures supplémentaires {% include form/help.html content="Les heures complémentaires sont celles qui ne sont pas prévues au contrat de travail, mais qui ne vont pas au-delà de 45 heures hebdomadaires.<br>Dans le deuxième champ, entrez les heures majorées (au-delà de 45 heures) non prévues au contrat." %}</label>
          <div class="row">
            <div class="col-md-6">
              {% include form/input-group.html id="nb_supp_complementaires" addon="heures complémentaires" %}
            </div>
            <div class="col-md-6">
              {% include form/input-group.html id="nb_supp_majorees" addon="heures majorées" %}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Heures d'absence non rémunérées {% include form/help.html content="Les heures d'absence (de l'assmat ou de l'enfant) qui ne sont pas rémunérées et qui sont donc retirées du salaire.<br>Note : le calcul des absences n'est pas encore fonctionnel." %}</label>
          <div class="row">
            <div class="col-md-6">
              {% include form/input-group.html id="absences_nb_heures_normales" addon="heures normales" %}
            </div>
            <div class="col-md-6">
              {% include form/input-group.html id="absences_nb_heures_majorees" addon="heures majorées" %}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="absences_nb_jours">Jours d'absence non rémunérés {% include form/help.html content="Le nombre de jours à retirer du compte pour le salaire.<br>Note : le calcul des absences n'est pas encore fonctionnel." %}</label>
          {% include form/input-group.html id="absences_nb_jours" addon="jours" %}
        </div>
      </fieldset>
    </div>
  </div>
  <div class="center hidden-print">
    <button type="submit" class="btn btn-primary btn-lg" id="submit">Calculer</button>
  </div>
</form>
<h2>Résultats des calculs</h2>
<div class="row" id="incomplete_year_output">
  <div class="col-md-6">
    <h3>À déclarer sur Pajemploi</h3>
    <table class="table table-bordered">
      <tr>
        <th scope="row">Nombre d'heures normales</th>
        <td id="out_nb_heures_normales" class="number"></td>
      </tr>
      <tr>
        <th scope="row">Nombre de jours d'activité</th>
        <td id="out_nb_jours_activite" class="number"></td>
      </tr>
      <tr>
        <th scope="row">Nombre de jours de congés payés</th>
        <td id="out_nb_jours_conges_payes" class="number"></td>
      </tr>
      <tr>
        <th scope="row">Salaire horaire net d'une heure normale</th>
        <td id="out_salaire_horaire_net_normal" class="euros"></td>
      </tr>
      <tr>
        <th scope="row">Nombre d'heures majorées</th>
        <td id="out_nb_heures_majorees" class="number"></td>
      </tr>
      <tr>
        <th scope="row">Nombre d'heures complémentaires</th>
        <td id="out_nb_heures_complementaires" class="number"></td>
      </tr>
      <tr>
        <th scope="row">Salaire net total</th>
        <td id="out_salaire_net_total" class="euros"></td>
      </tr>
      <tr>
        <th scope="row">Indemnités d'entretien</th>
        <td id="out_indemnites_entretien" class="euros"></td>
      </tr>
      <tr>
        <th scope="row">Indemnités de repas</th>
        <td id="out_indemnites_repas" class="euros"></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Somme totale à payer</h3>
    <div class="panel panel-default">
      <div class="panel-body euros" id="out_total_a_payer">
      </div>
    </div>
    <!--<h3>Pour information</h3>
    <div class="panel panel-danger">
      <div class="panel-heading">Attention</div>
      <div class="panel-body">Vous dépassez le plafond de 5 SMIC. La CAF ne va pas vous verser l'aide si vous déclarez cela.</div>
    </div>-->
    <h3 class="hidden-print">Actions</h3>
    <div class="btn-group hidden-print" role="toolbar">
      <button onclick="window.print();" type="button" class="btn btn-default">Imprimer <i class="glyphicon glyphicon-print"></i></button>
      <a type="button" href="#saved_url_popin" aria-controls="saved_url_popin" data-toggle="collapse" aria-expanded="false" class="btn btn-default save-button">Sauvegarder ou partager <i class="glyphicon glyphicon-star"></i></a>
    </div>
    <div class="collapse" id="saved_url_popin">
      <div class="well">
        <p>L'URL suivante contient toutes les données dont vous avez besoin pour retrouver le résultat de vos calculs. Copiez-la pour la réutiliser le mois prochain, pour montrer le calcul à quelqu'un d'autre, etc.</p>
        <p><code id="saved_url"></code></p>
      </div>
    </div>
  </div>
</div>
