---
layout: default
title: Mensualisation sur une année incomplète
---

      <h1>Mensualisation sur une année incomplète</h1>
      <h2>Données</h2>
      <form action="" id="incomplete-year-input">
        <div class="row">
          <div class="col-md-6">
            <fieldset>
              <legend>Contrat</legend>

              <div class="form-group">
                <label for="nb-semaines">Nombre de semaines d'accueil par an</label>
                {% include form/input-group.html id="nb-semaines" addon="semaines" %}
              </div>

              <div class="form-group">
                <label for="nb-jours-par-semaine">Nombre de jours d'accueil par semaine</label>
                {% include form/input-group.html id="nb-jours-par-semaine" addon="jours" %}
              </div>

              <div class="form-group">
                <label>Nombre d'heures par semaine</label>
                <div class="row">
                  <div class="col-md-6">
                    {% include form/input-group.html id="nb-heures-normales" addon="heures normales" %}
                  </div>
                  <div class="col-md-6">
                    {% include form/input-group.html id="nb-heures-majorees" addon="heures majorées" %}
                  </div>
              </div>

              </div>
                <div class="form-group">
                <label for="salaire-net-normal">Salaire horaire net d'une heure normale</label>
                {% include form/input-group.html id="salaire-net-normal" addon="€" %}
              </div>

              <div class="form-group">
              <label for="majoration-heures-majorees">Majoration des heures majorées</label>
                {% include form/input-group.html id="majoration-heures-majorees" addon="%" %}
            </div>

              <div class="form-group">
              <label for="indemnite-entretien">Indemnité d'entretien</label>
                {% include form/input-group.html id="indemnite-entretien" addon="€ par jour" %}
              </div>

              <div class="form-group">
                <label>Indemnités de repas</label>
                <div class="row">
                  <div class="col-md-6">
                    {% include form/input-group.html id="indemnite-repas" addon="€ par repas" %}
                  </div>
                  <div class="col-md-6">
                    {% include form/input-group.html id="indemnite-gouter" addon="€ par goûter" %}
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <legend>Mois en cours</legend>

              <div class="form-group">
                <label for="nb-jours-accueil-reel">Nombre de jours d'accueil réels dans le mois</label>
                {% include form/input-group.html id="nb-jours-accueil-reel" addon="jours" %}
              </div>

              <div class="form-group">
                <label>Congés payés</label>
                <div class="row">
                  <div class="col-md-6">
                    {% include form/input-group.html id="nb-jours-conges-payes" addon="jours" %}
                  </div>
                  <div class="col-md-6">
                    {% include form/input-group.html id="montant-conges-payes" addon="€" %}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Heures supplémentaires</label>
                <div class="row">
                  <div class="col-md-6">
                    {% include form/input-group.html id="nb-supp-complementaires" addon="heures complémentaires" %}
                  </div>
                  <div class="col-md-6">
                    {% include form/input-group.html id="nb-supp-majorees" addon="heures majorées" %}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Absences non rémunérées</label>
                <div class="row">
                  <div class="col-md-6">
                    {% include form/input-group.html id="absences-nb-jours" addon="jours" %}
                  </div>
                  <div class="col-md-6">
                    {% include form/input-group.html id="absences-nb-heures" addon="heures" %}
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </form>
      <h2>Résultats des calculs</h2>
      <div class="row">
        <div class="col-md-6">
          <h3>À déclarer sur Pajemploi</h3>
            <table class="table table-bordered">
              <tr>
                <th scope="row">Nombre d'heures normales</th>
                <td>165</td>
              </tr>
              <tr>
                <th scope="row">Nombre de jours d'activité</th>
                <td>26</td>
              </tr>
              <tr>
                <th scope="row">Nombre de jours de congés payés</th>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">Salaire horaire net d'une heure normale</th>
                <td>3,50 €</td>
              </tr>
              <tr>
                <th scope="row">Nombre d'heures majorées</th>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Nombre d'heures complémentaires</th>
                <td>5</td>
              </tr>
              <tr>
                <th scope="row">Salaire net total</th>
                <td>651,35 €</td>
              </tr>
              <tr>
                <th scope="row">Indemnités d'entretien</th>
                <td>75,52 €</td>
              </tr>
              <tr>
                <th scope="row">Indemnités de repas</th>
                <td>175,35 €</td>
              </tr>
            </table>
        </div>
        <div class="col-md-6">
          <h3>Somme totale à payer</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              852,64 €
            </div>
          </div>
          <h3>Pour information</h3>
          <div class="panel panel-danger">
            <div class="panel-heading">Attention</div>
            <div class="panel-body">Vous dépassez le plafond de 5 SMIC. La CAF ne va pas vous verser l'aide si vous déclarez cela.</div>
          </div>
          <h3>Actions</h3>
          <div class="btn-group" role="toolbar">
            <button type="button" class="btn btn-default">Imprimer <i class="glyphicon glyphicon-print"></i></button>
            <button type="button" class="btn btn-default">Exporter <i class="glyphicon glyphicon glyphicon-envelope"></i></button>
            <button type="button" class="btn btn-default">Partager <i class="glyphicon glyphicon-star"></i></button>
          </div>
        </div>
      </div>
    </div>

