<h3 class="hidden-print">Actions</h3>

<div class="btn-group hidden-print" role="toolbar">
  <button onclick="window.print();" type="button" class="btn btn-default">Imprimer <i class="glyphicon glyphicon-print"></i></button>
  <a type="button" href="#saved_url_popin" aria-controls="saved_url_popin" data-toggle="collapse" aria-expanded="false" class="btn btn-default save-button">Sauvegarder ou partager <i class="glyphicon glyphicon-star"></i></a>
</div>

<div class="collapse" id="saved_url_popin">
  <div class="well">
    <p>L'URL suivante contient toutes les données dont vous avez besoin pour retrouver le résultat de vos calculs. Copiez-la pour la réutiliser le mois prochain, pour montrer le calcul à quelqu'un d'autre, etc.
    <p>Vous pouvez aussi ajouter directement cette page à vos favoris : toutes les données sont incluses dans l'URL.
    <p><code id="saved_url"></code>
  </div>
</div>