<table class="output-table table table-bordered">
  <tr class="title">
    <th colspan="2">Travail effectué</th>
  </tr>
  <tr>
    <th scope="row">Nombre d'heures normales</th>
    <td id="out_nb_heures_normales" class="number"></td>
  </tr>
  <tr>
    <th scope="row">Nombre de jours d'activité</th>
    <td id="out_nb_jours_activite" class="number"></td>
  </tr>
  <tr>
    <th scope="row">Nombre de jours de congés payés</th>
    <td id="out_nb_jours_conges_payes" class="number"></td>
  </tr>
  <tr class="title">
    <th colspan="2">Heures majorées ou complémentaires</th>
  </tr>
  <tr>
    <th scope="row">Salaire horaire net d'une heure normale</th>
    <td id="out_salaire_horaire_net_normal" class="euros"></td>
  </tr>
  <tr>
    <th scope="row">Nombre d'heures majorées</th>
    <td id="out_nb_heures_majorees" class="number"></td>
  </tr>
  <tr>
    <th scope="row">Nombre d'heures complémentaires</th>
    <td id="out_nb_heures_complementaires" class="number"></td>
  </tr>
  <tr class="title">
    <th colspan="2">Rémunération</th>
  </tr>
  <tr>
    <th scope="row">Salaire net total</th>
    <td id="out_salaire_net_total" class="euros"></td>
  </tr>
  <tr class="title">
    <th colspan="2">Indemnités complémentaires</th>
  </tr>
  <tr>
    <th scope="row">Indemnités d'entretien</th>
    <td id="out_indemnites_entretien" class="euros"></td>
  </tr>
  <tr>
    <th scope="row">Indemnités de repas</th>
    <td id="out_indemnites_repas" class="euros"></td>
  </tr>
</table>
