<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/url2form.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/model.js"></script>
    <script src="js/view.js"></script>
    {% if page.controller %}
    <script src="js/controller-{{ page.controller }}.js"></script>
    {% endif %}
  </body>
</html>
